@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.main{
    position: relative;
    width: 70vw;
    height: 47.78vw;
    margin-left: 30%;
 position: fixed;
 overflow-y: auto;

}


.main h2{
font-size: 3vw;
padding-top: 2%;
padding-left: 4%;
font-family: "Roboto", sans-serif;
}


.main .about{
    padding-top: 12%;
    width: 90%;
    display: flex;
    margin-left: 5%;
}


.main .about .left{
    border-radius: 20px;
    width: 50%;
}

.main .about .left .image{
    position: relative;
    width: 100%;
    height: 20vw;
}
.main .about .right{
width: 50%;
}
.main .about .right p{
    width: 90%; font-family: "Mulish", sans-serif;
    font-size: 1.1vw;
    margin-left: 5%;
}
.main .about .right button{
    width: 16vw;
    border: none;
    outline: none;
    padding: 2.4% 0;
    color: white;
    cursor: pointer;
    margin-top: 4%;
    background-color: rgb(255, 2, 149);
    font-size: 1.1vw;
    margin-left: 5%;
    transition: all 0.2s;
}
.main .about .right button:hover{
border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgb(204, 204, 204);
} 

/* footer */
.main footer{
    border-top:1px solid rgb(237, 237, 237);
    width: 100%;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 5vw;
user-select: none;
text-align: center;
padding-top: 2%;
font-size: 1.4vw; font-family: "Playfair Display", serif;
background-color: rgb(255, 255, 255);
/* background-color: rgb(250, 250, 250); */
}







.main footer span{
    color: rgb(255, 0, 111);
} 
